exportMethods(plot)
exportMethods(summary)
    importFrom("grDevices", "gray", "hcl")
    importFrom("graphics", "abline", "axis", "axis.POSIXct", "box",
            "grconvertX", "legend", "lines", "mtext", "par", "plot", "points",
            "polygon", "rect", "rug", "strheight", "strwidth", "text")
    importFrom("methods", "new")
    importFrom("stats", "lm")
    export(as.gantt, ganttAddTask, read.burndown, read.gantt, trim.whitespace)
exportClasses(plan, burndown, gantt)

