importFrom("grDevices", "gray", "hcl")
importFrom("graphics", "abline", "axis", "axis.POSIXct", "box",
        "grconvertX", "legend", "lines", "mtext", "par", "plot", "points",
        "polygon", "rect", "rug", "strheight", "strwidth", "text")
importFrom("methods", "new")
importFrom("stats", "lm")
importFrom("testthat", "expect_silent", "expect_output")
export(as.burndown, as.gantt, ganttAddTask, read.burndown, read.gantt, trim.whitespace)
exportClasses(plan, burndown, gantt)
exportMethods(plot)
exportMethods(summary)
